/* styles.css */
@keyframes pulse {
    0% {
      transform: scale(0.3);
    }
    50% {
      transform: scale(0.6);
    }
    100% {
      transform: scale(0.9);
    }
  }
  
  .signalIndicator img {
    animation: pulse 1.5s infinite ease-in-out; /* Adjust duration and timing as needed */
    position: absolute;
    top: 165px;
    left:50px;
  }
  .signalIndicator2 img {
    animation: pulse 1.5s infinite ease-in-out; /* Adjust duration and timing as needed */
    position: absolute;
    top: 250px;
    left:435px;
  }
  